.menu-relative {
  content: "";
  height: 70px;
  width: 100%;
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.menu {
  height: 70px;
  background: #000;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0 16px;
  box-sizing: border-box;
}
